*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

h1,
section {
  margin-top: 0;
  padding: 20px 30px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  font-weight: 900;
}

header,
.section-dark {
  background-color: #2e354f;
}

.container {
  width: 620px;
  margin: 0 auto;
}

h2,
.link {
  color: #ef5839;
}

.text-dark {
  color: #2e354f;
}

.text-accent {
  font-weight: 900;
}

/* button styling */

.btn {
  display: inline-block;
  padding: 10px 25px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 900;
  transition: transform 0.3s;
}

.btn-light {
  background-color: #fff;
  color: #2e354f;
}

.btn-dark {
  background-color: #ef5839;
  color: #fff;
}

/* link and btn hover and focus styles */
.btn:hover,
.btn:focus {
  opacity: 0.85;
  transform: scale(0.95);
}

.link:hover,
.link:focus {
  font-size: 20px;
  font-weight: 900;
}
